h1{
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: lightgrey;
}

section#sidebars{
    border: 10px;
    border-color:black;
    border-style: solid;
    margin: auto;
}

section#sidebars div{
    width:50%;
    float: left;
    padding: 20px;
}

section div#right{
    background-color: rgb(190, 187, 187);
    text-align: center;
}

section div#left{
    background-color: rgb(190, 187, 187);
    text-align: center;
}
